<?xml version="1.0"?>
<config>
    <modules>
        <Sitewards_DeliveryDate>
            <version>0.1.0</version>
        </Sitewards_DeliveryDate>
    </modules>
    <global>
        <blocks>
            <sitewards_deliverydate>
                <class>Sitewards_DeliveryDate_Block</class>
            </sitewards_deliverydate>
        </blocks>
        <helpers>
            <sitewards_deliverydate>
                <class>Sitewards_DeliveryDate_Helper</class>
            </sitewards_deliverydate>
        </helpers>
        <models>
            <sitewards_deliverydate>
                <class>Sitewards_DeliveryDate_Model</class>
                <resourceModel>sitewards_deliverydate_resource</resourceModel>
            </sitewards_deliverydate>
            <sitewards_deliverydate_resource>
                <class>Sitewards_DeliveryDate_Model_Resource</class>
                <entities>
                    <quote>
                        <table>sales_quote_deliverydate</table>
                    </quote>
                    <order>
                        <table>sales_order_deliverydate</table>
                    </order>
                </entities>
            </sitewards_deliverydate_resource>
        </models>
        <resources>
            <deliverydate_setup>
                <setup>
                    <module>Sitewards_DeliveryDate</module>
                </setup>
            </deliverydate_setup>
        </resources>
        <events>
            <sales_order_load_after>
                <observers>
                    <sales_order_load_after>
                        <type>singleton</type>
                        <class>sitewards_deliverydate/observer</class>
                        <method>salesOrderLoadAfter</method>
                    </sales_order_load_after>
                </observers>
            </sales_order_load_after>
        </events>
    </global>
    <frontend>
        <translate>
            <modules>
                <Sitewards_DeliveryDate>
                    <files>
                        <default>Sitewards_DeliveryDate.csv</default>
                    </files>
                </Sitewards_DeliveryDate>
            </modules>
        </translate>
        <layout>
            <updates>
                <sitewards_deliverydate>
                    <file>sitewards/deliverydate.xml</file>
                </sitewards_deliverydate>
            </updates>
        </layout>
        <events>
            <sales_quote_save_before>
                <observers>
                    <sitewards_deliverydate>
                        <type>singleton</type>
                        <class>sitewards_deliverydate/observer</class>
                        <method>salesQuoteSaveBefore</method>
                    </sitewards_deliverydate>
                </observers>
            </sales_quote_save_before>
            <sales_quote_save_after>
                <observers>
                    <sitewards_deliverydate>
                        <type>singleton</type>
                        <class>sitewards_deliverydate/observer</class>
                        <method>salesQuoteSaveAfter</method>
                    </sitewards_deliverydate>
                </observers>
            </sales_quote_save_after>
            <sales_quote_load_after>
                <observers>
                    <sitewards_deliverydate>
                        <type>singleton</type>
                        <class>sitewards_deliverydate/observer</class>
                        <method>salesQuoteLoadAfter</method>
                    </sitewards_deliverydate>
                </observers>
            </sales_quote_load_after>
            <sales_model_service_quote_submit_after>
                <observers>
                    <sales_model_service_quote_submit_after>
                        <type>singleton</type>
                        <class>sitewards_deliverydate/observer</class>
                        <method>salesModelServiceQuoteSubmitAfter</method>
                    </sales_model_service_quote_submit_after>
                </observers>
            </sales_model_service_quote_submit_after>
        </events>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <sitewards_deliverydate>
                    <file>sitewards/deliverydate.xml</file>
                </sitewards_deliverydate>
            </updates>
        </layout>
    </adminhtml>
    <default>
        <deliverydate>
            <generalsettings>
                <active>0</active>
            </generalsettings>
        </deliverydate>
    </default>
    <phpunit>
        <suite>
            <modules>
                <Sitewards_DeliveryDate/>
            </modules>
        </suite>
    </phpunit>
</config>